/* body{ */
    /* background-image: url(../Images/p1.jpg);
    filter: se;
    background-repeat: no-repeat;
    background-size: cover; */
   
    
/* } */



.login{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    animation:loginmove 3s forwards;

}
@keyframes loginmove {
    0%{
        transform: translate(-1400px);
    }
    100%{

    }
}
.login button{
    margin-top: 20px;
    height: 30px;
    width: 110px;
    border: none;
    box-shadow: 4px 4px 4px gray;
    border-radius: 5px;
    animation: loginmove 5s forwards;
}
.login h1{
    color: #5b6eec;
    height: 10vh;
    justify-self: flex-start;
}
.login .container1{
    
    box-shadow: 1px 13px 20px 1px gray;
    border-radius: 12px;
}
.login .container {
    border: solid 3px rgba(255, 0, 0, 0.152);
    box-shadow: inset 2px 2px 20px 20px rgba(128, 128, 128, 0.112);
    width: max-content;
    /* width: 100%; */
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    backdrop-filter: blur(7px) saturate(117%);
        -webkit-backdrop-filter: blur(7px) saturate(117%);
        background-color: rgba(113, 155, 179, 0.19)
;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    
}
.login .container form{
    display: flex;
    flex-direction: column;
}

.login form{
 
    min-height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border: none;
    border-radius: 5px;
    animation:formpack 3s forwards ;
    
}
@keyframes formpack {
    0% {
            transform: scale(23) rotate(80deg);
        }
    
        100% {
            transform: scale(1) rotate(0);
    
        }
}

.login form button{
    border-radius: 3px;
    height: 30px ;
    width: 70px;
    align-self: center;
    border: none;
    box-shadow: 4px 4px 4px gray;
    background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}
.login form button:active{
    box-shadow: none;
}
form .fieldtext{
    margin: 0px auto;
    width: 300px;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    justify-content: center;
}
form .fieldtext input{
    height: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    /* border: none; */
    background: transparent;
}
form .fieldtext form{
    box-shadow: 1px 5px 20px 0px gray;
}