.home,.about,.footer{
    padding: 5vh;
}
/* home */
.home{
    min-height: 100vh;
    background-size: cover;
    background-image: linear-gradient(135deg, #F7EFE5, #E2BFD9,#C8A1E0);
    /* url(../Images/p1.jpg); */
    background-repeat: no-repeat;
    
}
.home .section{
    /* padding: 0vh 20vh; */
    margin:10vh 0vh;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home .hmheading{
    text-align: center;
    margin-bottom: 10vh;
}
.home .hmheading h1{
    color:#222831;

}
.home .hmheading p{
    color:#393E46;
}
.home .container{
    padding:0px 10vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.149);
    animation: reveal3 3s forwards;
}
.home  .container img{
    width: 400px ;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(128, 128, 128, 0.095);
}
.home .container .categories,
.home .container .testimonials,
.home .container .events
{
    animation:reveal2 3s alternate-reverse infinite
}
/* about */
.section1,
.section2,
.section3 {
    width: 95%;
    margin-top: 20vh;
    /* height: 50vh; */
    display: block;
    overflow: hidden;
}

.section1 .container1,
.section2 .container1,
.section3 .container1 {

    display: grid;
    grid-template-columns: auto 650px;
    align-items: center;
    box-shadow: 4px 10px 10px rgba(128, 128, 128, 0.099);
    animation: reveal 1s forwards 1;
    /* grid */
}

@keyframes reveal {
    from {
        transform: translateY(40px) translateX(30px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes reveal2 {
    from {
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes reveal3 {
    from {
        transform: translateY(40px) translateX(-20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.section1 .container1 img,
.section2 .container1 img,
.section3 .container1 img {
    width: 650px;
    height: 400px;
}

.section1 .container1 img,
.section2 .container1 img,
.section3 .container1 img {
    animation: reveal2 1s forwards 1;
    border-radius: 15px;
}




.section1 .container1 .description1,
.section2 .container1 .description1,
.section3 .container1 .description1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 48px 32px;
    gap: 60px;
}

.section1 .container1 .description1 h1,
.section2 .container1 .description1 h1,
.section3 .container1 .description1 h1 {
    font-size: 48px;
    font-weight: 200;
    text-shadow: 3px 3px rgba(128, 128, 128, 0.285);
}

.section1 .container1 .description1 p,
.section2 .container1 .description1 p,
.section3 .container1 .description1 p {
    color: rgba(128, 128, 128, 0.678);
    line-height: 1.8em;
    font-weight: 100;
    font-size: 22px;
    text-align: justify;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.103);
    /* text-align: justify; */
    animation: reveal3 1s forwards 1;
}

/* contianer2 */
.section1 .container2,
.section2 .container2,
.section3 .container2 {
    display: flex;
    flex-direction: column;
    height: 340px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 4px 10px 10px rgba(128, 128, 128, 0.099);
}

.section1 .container2 h1,
.section2 .container2 h1,
.section3 .container2 h1 {
    font-weight: 400;
    font-size: 48px;
}

.section1 .container2 h2 {
    font-weight: 100;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.556);
}

.section1 .container2 p {
    color: rgba(128, 128, 128, 0.581);
    /* width: 70%; */
    text-align: justify;
    line-height: 1.4em;
    letter-spacing: 0.1em;
}

.section1 .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 340px;
    /* gap: 10vh; */
    flex-direction: column;
    height: 340px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 4px 10px 10px rgba(128, 128, 128, 0.075);
}

.hr {
    width: 200px;
    height: 10px;
    border: dotted 8px rgba(172, 72, 72, 0.462);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.144);

}

.hr2 {
    width: 800px;
    height: 10px;
    border: solid 8px rgba(41, 38, 38, 0.462);
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.144);
}

.section1 .container3 .container3o {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 20vh; */

}

.section1 .container3 .container3o img {
    height: 100px;

}

/* books */
.bookContainers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
/* .bookContainer */
.books{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books h1{
    word-spacing: -1.2px;
    color: #874CCC;
            text-decoration: none solid rgb(68, 68, 68);
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.375);
        
}


.bookContainers .box{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 0.1px rgba(128, 128, 128, 0.242);
    border-radius: 9px;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.075);
    
}
.bookContainers .box:nth-child(even){
    animation: reveal1 1s forwards 1;
}
.bookContainers .box:nth-child(odd){
    animation: reveal2 1s forwards 1;
}

@keyframes reveal1 {
    0%{
        transform: translateY(40px) translateX(30px);
        }
    100%{
            opacity: 1;
                transform: none;
    }
}   
@keyframes reveal2 {
    0%{
        transform: translateY(-40px) translateX(-30px);
        }
    100%{
            opacity: 1;
                transform: none;
    }
    
}
.bookContainers .box img{
    height: 140px;
    width:120px ;
}
.bookContainers .box p{
    width: 200px;
    text-align:center;
}
.bookContainers .btns{
    
    display: flex;
    gap: 10px;
}
.bookContainers .box button{
    height:30px;
    width: 100px;

}
.bookContainers .box button:nth-child(even){
    background-color: rgba(255, 0, 21, 0.796);
}
.bookContainers .box button:nth-child(odd){
    background-color: transparent;
}
/* read book */
.readbook{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.readbook img{
    height: 350px;
    width: 250px;
    /* width: 120px; */
}
.readbook h1{
    color:#6EACDA;
    text-shadow: 2px 2px 2px #F4D9D0;
}
.readbook h4 label{
    background-color: #674188ab;
    text-align: center;
    padding: 5px 6px;
    border-radius: 4px;
}

.readbook details p,
.readbook details summary{
    /* padding: 0px 40px;
     */
    width: 1000px;
    text-align: justify;
}
.readbook .btns{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.readbook .btns button:first-child{
    height: 30px;
    width: 120px;
    background-color: #674188;
    color:whitesmoke;
    border:none;
}
.readbook .btns button:last-child{
    background-color: white ;
    color: #674188;
    border: solid 1px gray;
}


/* cart */
.cart{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10vh;
}
.cart h1{
    color: rgba(126, 126, 100, 0.536);
}
.cart .tablecontainer{
    min-height:90vh ;
}
.cart .tablecontainer table{
    /* border-radius: 50px; */
    border-collapse: collapse;
    
    /* border-radius: 10px; */
    box-shadow:  2px 14px 20px 0px gray;
    animation:reveal5 10s forwards
}
.cart .tablecontainer table td,
.cart .tablecontainer table tr{
    border: solid 0.001px rgba(255, 0, 0, 0.142);
    border-radius: 10px;    
}

.cart .tablecontainer img{
    box-shadow: 3px 3px 3px 10px rgba(128, 128, 128, 0.078);
}
.cart .tablecontainer button{
    height: 30px;
    width: 120px;
    background-color: rgba(60, 138, 153, 0.168);
    border: none;
    box-shadow: 2px 2px 2px gray;
}
.cart .tablecontainer button:active{
    box-shadow: 0px 0px 0px ;
}
@keyframes reveal5 {
    0%{
        /* transform: translate(10px); */
        transform: rotateY(70deg) rotateX(30deg);
    }
    100%{
        transform: none;
    }
    
}
/* footer */
.footer{
    color: #F7EFE5;
    background-color: #674188;
    padding-bottom: 0px;
}
.footer a{
    color:#E2BFD9;
}
.footer-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.footer-section{
    display: flex;
    justify-content: space-around;
}
.footer-bottom{
    display: flex;
    justify-content: center;
}