.Navigation{
    display: flex;
    flex-direction: column;
    background-color: #F7EFE5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Navigation ul{
    display: flex;
    justify-content: space-evenly;
}
.Navigation ul li a{
    color: #674188;
    text-decoration: none;
}